* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background color */
  --primary-bg-color: #333;
  --secondary-bg-color: #444;
  /* text color */
  --primary-text-color: #fff;
  --secondary-text-color: #ccc;

  /* spacing */
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
}
body,
html {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  line-height: 1.6;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) var(--spacing-m);
  margin: var(--spacing-m);

}

section{}
