* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background color */
  --primary-bg-color: #333;
  --secondary-bg-color: #595757;
  --hover-bg-color: #4f4a4a;
  /* text color */
  --primary-text-color: #fff;
  --secondary-text-color: #ccc;

  /* spacing */
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
}
body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    sans-serif;
  background-color: #333;
  color: #fff;
  line-height: 1.6;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) var(--spacing-l);
  margin: var(--spacing-m);
}
.btn {
  font-size: 1.7 rem;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  padding: var(--spacing-m) var(--spacing-l);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--hover-bg-color);
}
.btn:active {
  transform: scale(0.9);
}

section {
  width: 90%;
  margin: auto;
  padding: var(--spacing-l);
  display: flex;
  flex: 1;

  justify-content: space-between;
}
section .task-col {
  background-color: var(--secondary-bg-color);
  padding: var(--spacing-m);
  border-radius: 8px;
  width: 32%;
  display: flex;
  flex-direction: column;
  transition: 0.7s all ease;
}

section .task-col.hover {
  border: 2px dotted var(--primary-text-color);

  transform: scale(1.04);
}
section .task-col .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-m);
}
.task-count {
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 50%;
  font-weight: bold;
}
section .task-col .task {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-m);
  border: 2px solid var(--secondary-text-color);
  border-radius: 8px;
  background-color: var(--hover-bg-color);
  cursor: grab;
}
section .task-col .task p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
}

.delete-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: var(--spacing-m);
}
.delete-btn:hover {
  background-color: #f13737;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal.active {
  display: flex;
}
.modal .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}
.modal .modal-addTask {
  position: fixed;
  width: 30%;
  height: 40%;
  background-color: var(--secondary-bg-color);
  padding: var(--spacing-l);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 11;
}
.modal .modal-addTask input,
.modal .modal-addTask textarea {
  margin-bottom: var(--spacing-m);
  padding: var(--spacing-m);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}
.modal .modal-addTask textarea {
  flex: 1;
  resize: none;
}
.modal .modal-addTask .submit {
  align-self: center;
  width: 50%;
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color);
  border: none;
  padding: var(--spacing-m) var(--spacing-l);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.modal .modal-addTask .submit:hover {
  background-color: #ccc;
}
.modal .modal-addTask .submit:active {
  transform: scale(0.95);
}

/* While dragging */
.task.dragging {
  opacity: 0.6;
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: grabbing;
  position: relative;
  z-index: 1000;
}
